<app-login></app-login>
<app-menu></app-menu>
<app-solicitud></app-solicitud>


<!--***** Scripts Here *****-->
<script type="text/javascript">
  var profesor = document.getElementByName("chkbProfesor");
  var administracion = document.getElementByName("chkbAdministracion");

  //   profesor.addEventListener("change", chkbVerify());
  //   administracion.addEventListener("change", chkbVerify());

  function chkbVerify() {
    if (profesor.checked) {
      administracion.removeAttribute("checked");
      console.log("Profesor is checked")
    } else if (administracion.checked) {
      profesor.removeAttribute("checked")
    }
  }

  $('.ui.modal').modal('show');
</script>