<form class="ui form">
  <h3 class="ui dividing header">Entrada de Datos: </h3>
  <div class="ui fields">
    <div class="six wide field">
      <label for="nombre-sol">Nombre Completo:</label>
      <input type="text" name="nombre-sol" placeholder="Nombre y Apellidos">
    </div>
    <div class="six wide field">
      <label for="titulo-act">Titulo de Actividad:</label>
      <input type="text" name="nombre-act" placeholder="Titulo de la Actividad">
    </div>
    <div class="six wide field">
      <label for="participantes">Participantes: </label>
      <input type="number" name="participantes">
    </div>
    <div class="six wide field">
      <label for="gastos">Dinero Otorgado:</label>
      <input type="number" name="gastos">
    </div>
    <!-- fechas -->
    <div class="six wide field">
      <label for="fdesde">Desde:</label>
      <input name="fdesde" type="date">
    </div>
    <div class="six wide field">
      <label for="fhasta">Hasta:</label>
      <input name="fhasta" type="date">
    </div>
    <div class="ui form segment">
      <div class="grouped fields">
        <label>Servicios</label>
        <div class="field">
          <div class="ui radio checkbox">
            <input name="dentroPR" checked="checked" type="radio">
            <label>Dentro de PR</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input name="afueraPR" type="radio">
            <label>Fuera de PR</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
