/* You can add global styles to this file, and also import other style files */

@import '/semantic/out/semantic.css';
@import '/semantic/out/semantic.min.css';
@import "~font-awesome/css/font-awesome.css";

form.ui.segment.form {
  background-color: rgba(149, 150, 140, 0.205);
  margin: 2em;
}

form.form:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.login-body {
    background-color: #fafafa; 
    margin: 2em;   
    font-family: 'Lato', sans-serif;
}

.login-card {
    padding: 20px;
    /* margin: 20px 0; */
}

